*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ccc;
}

.card-container{
    display: flex;
    padding: 100px;
    
}

.card{
    width: 400px;
    height: 600px;
    margin: 0 6px;
    position: relative;
}

.content{
    background-color: none;
}

img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 50px;
}

.content{
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card-container:hover > .card:not(:hover){
    transform: scale(0.9);
    transition: .5s;
}

.card-container:hover > .card:not(:hover) > img{
    filter: brightness(0.5) contrast(1.2) blur(15px);
}

.card:hover{
    transform: scale(1.2);
    transition: .5s;
    border: 10px double rgb(7, 100, 248);
    border-radius: 51px;
}